{% extends "base.html" %}
{% block title %}Education{% endblock %}
{% block content %}
<div class="card" style="width: 18rem;">
  <img src="static/ilr_cornell_lockup_positive.png" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Cornell University School of Industrial and Labor Relations</h5>
    <p class="card-text">I attended Cornell's ILR School from 2013-2017. I majored in Indusial and Labor Relations (Like all attendees of the ILR School)</p>
    <a href="https://www.ilr.cornell.edu/" class="btn btn-primary">ILR Website</a>
  </div>
</div>
{% endblock %}
